#!/bin/sh

# -- Argument --
# 検索対象のユーザーコード
USER_CODE=XXXXXXXXXX

# -- Environment Variables --
# サーバー識別ID（ブラウザが送信しているリクエストURLから調べる。時々変わってる）
SERVER_ID="xxxxxxxxxxxxxxxxxxxxxx"

# Required Cookie Fields - buckler_id（リクエストで送っているCookieから調べる。多分再ログインすると変わる。）
BUCKLER_ID="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# Required Cookie Fields - _gid（リクエストで送っているCookieから調べる。多分バージョン上がると変わる。）
GID=GA1.2.364935073.1698369253