.App {
  text-align: left;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  padding: 10px;
}

.title {
  font-weight: bolder;
}

.version {
  font-size: calc(3px + 2vmin);
  font-weight: 'normal';
  margin-left: 1em;
}

.App-contents {
  padding: 20px;
  font-size: calc(4px + 2vmin);
}

.App-link {
  color: #61dafb;
  font-size: calc(4px + 2vmin)
}

.App-footer {
  padding: 10px;
  font-size: calc(2px + 2vmin);
  font-weight: 'normal';
}