.App {
  text-align: left;
}

.title {
  padding: 5px;
  font-weight: bolder;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-contents {
  padding: 20px;
  font-size: calc(6px + 2vmin);
}

.App-link {
  color: #61dafb;
  font-size: calc(6px + 2vmin)
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
